@page "/Products"

@inject UseCase.IViewProducts ViewProduct
@inject UseCase.IGetCategoryById GetCategoryById
@inject UseCase.IDeleteProduct DeleteProduct
@inject NavigationManager NavigationManager
<h3>Products</h3>
<br />
@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>
                        @GetCategoryById.Execute(product.CategoryId.Value)?.CategoryName
                    </td>
                    <td>
                        @product.ProductName
                    </td>
                    <td>
                        @(Math.Round(product.Price.Value, 2))
                    </td>
                    <td>
                        @product.Quantity
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" @onclick="@(()=> EditProduct(product))">
                            Update
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-link" @onclick="@(()=> RemoveProduct(product.ProductId))">Delete</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddProduct" class="btn btn-primary">Add Product</button>



@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        products = ViewProduct.Execute();

    }
    private void OnClickAddProduct()
    {
        NavigationManager.NavigateTo("/AddProducts");
    }
    private void EditProduct(Product product)
    {
        NavigationManager.NavigateTo($"/EditProduct/{product.ProductId}");
    }
    private void RemoveProduct(int productId)
    {
        DeleteProduct.Execute(productId);
    }
    
}
